* {
    background-color: white;
}

#root {
    background-color: bisque;
    display: flex;
    height: 500px;
    width: 100%;
}

#coin-image {
    -unity-background-scale-mode: scale-to-fit;
    background-image: url("project://database/Assets/Sprites/Menu/Moedas.png?fileID=2800000&guid=2abd062b727d22c498c48eb14633132b&type=3#Moedas");
    height: 100px;
    width: 100px;
}
.container {
    flex-direction: row;
}